In [3]:
import pandas as pd

In [7]:
url = "C:\\Users\\umar2\\Downloads\\abc.xls"

In [8]:
df = pd.read_csv(url)
df

  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23